.navbar {
    background-color: black !important;
  }
  
  .nav-link {
    color: white !important;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .btn {
    color: black !important;
  }
  
  .btn-outline-success {
    background-color: yellow !important;
    border-style: none;
    border-radius: 5px 5px 5px 5px !important;
  }