.container-products img {
    height: 250px;
    width: 270px;
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
  }
  
  .container-products h4 {
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 30px;
  }
  
  .container-products p {
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 20px;
    color: black;
    margin: 10px;
  }